<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>

      <!-- Connection settings -->
       <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
       <property name="hibernate.connection.url">jdbc:mysql://XXX:3306/SPEECH_TO_TEXT?serverTimezone=UTC</property>
       <property name="hibernate.connection.username">XXX</property>
       <property name="hibernate.connection.password">XXX</property>

      <!-- SQL dialect -->
      <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

      <!-- Print executed SQL to stdout -->
      <property name="show_sql">true</property>

      <!-- Drop and re-create all database on startup -->
      <property name="hibernate.hbm2ddl.auto">update</property>

      <!-- Annotated entity classes -->
      <mapping class="com.cbnu.cgac.repository.MediaFile"/>
      <mapping class="com.cbnu.cgac.repository.CategoryFile"/>

   </session-factory>
</hibernate-configuration>
